<web-app>
    <servlet>
        <servlet-name>ItemServlet</servlet-name>
        <servlet-class>ru.asemenov.servlets.ItemServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ItemServlet</servlet-name>
        <url-pattern>/items</url-pattern>
    </servlet-mapping>
</web-app>